@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

header#cabecalho {
    background-color: #cecece;
}

/* Parte do Menu Principal */
header#cabecalho ul#Menu {
    margin: auto;
    text-align: center;
}


header#cabecalho ul#Menu li {
    list-style: none;
    display: inline-block;
    margin: 0px -3px;
    padding: 10px 15px;
    
}

header#cabecalho ul#Menu li:hover {
    background-color: aliceblue;
    cursor: pointer;
}

/* Parte do Home */
section {
    margin-top: -20px;
    padding: 0;
    background-color: red;
    text-align: center;
    
}

